.image-list-item {
  border: none;
  list-style-type: none;
}

.thumbnail-img {
  border-radius: 7px;
  width: 100px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .thumbnail-img {
    width: 140px;
  }
}
.thumbnail-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
