.image-list-item {
  border: none;
  list-style-type: none;
}

.thumbnail-img {
  border-radius: 4px;
  width: 75px;
  padding: 2px;
}
@media screen and (min-width: 768px) {
  .thumbnail-img {
    width: 150px;
  }
}
.thumbnail-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
