.nav-container {
  background-color: #2c0e3a;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav-container {
    padding: 12px;
  }
}

.website-logo {
  width: 115px;
}
@media screen and (min-width: 768px) {
  .website-logo {
    width: 200px;
  }
}

.score-timer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 21px;
}

@media screen and (min-width: 768px) {
  .score-timer-container {
    margin-right: 50px;
  }
}
.score-text {
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .score-text {
    font-size: 18px;
  }
}

.span {
  color: #fec653;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .span {
    font-size: 25px;
    font-weight: 900;
  }
}
.timer-container {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .timer-container {
    margin-left: 35px;
  }
}

.timer-logo {
  width: 28px;
  padding: 2px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .timer-logo {
    margin-right: 8px;
    width: 40px;
  }
}
